Указываем box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Убираем decoration у всех a */
a {
    text-decoration: none;
}

.header {
    background-image: url(../img/header.jpg);
    background-position: bottom;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerRow {
    height: 100vh;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.navList {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.logoImg {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

.shortName {
    font-weight: 700;
    font-size: 50px;
    margin-right: 100px;
}

a.navListText:active, /* активная/посещенная ссылка */
a.navListText:hover,  /* при наведении */
a.navListText {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.headerContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%; 
}

.headerUpperText {
    margin-bottom: 40px;
    font-weight: 300;
}

.headerMiddleText {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 30px;
}

.headerSocial {
    margin-bottom: 120px;
}

.aboutMe {
  padding-top: 110px;
  display: flex;
  justify-content: space-around;
}
.aboutMePhoto {
  max-width: 30%;
  border: 10px solid rgb(211,211,211);
}